In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df=pd.read_csv("travel.csv")

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [5]:
df.shape

(4888, 20)

In [6]:
df.describe()

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
count,4888.000000,4888.000000,4662.000000,4888.000000,4637.000000,4888.000000,4843.000000,4862.000000,4748.000000,4888.000000,4888.000000,4888.000000,4822.000000,4655.000000
mean,202443.500000,0.188216,37.622265,1.654255,15.490835,2.905074,3.708445,3.581037,3.236521,0.290917,3.078151,0.620295,1.187267,23619.853491
std,1411.188388,0.390925,9.316387,0.916583,8.519643,0.724891,1.002509,0.798009,1.849019,0.454232,1.365792,0.485363,0.857861,5380.698361
min,200000.000000,0.000000,18.000000,1.000000,5.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1000.000000
25%,201221.750000,0.000000,31.000000,1.000000,9.000000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20346.000000
50%,202443.500000,0.000000,36.000000,1.000000,13.000000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22347.000000
75%,203665.250000,0.000000,44.000000,3.000000,20.000000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25571.000000
max,204887.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,3.000000,98678.000000

In [7]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [9]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [10]:
df['Gender']=df['Gender'].replace('Fe Male','Female')

In [11]:
df['Designation'].value_counts()

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [12]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [13]:
df['Unmarried']=df['MaritalStatus'].replace('Single','Unmarried')

In [14]:
##cheacking the missing values 
features_with_na=[features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5),'%missing values')

Age 4.62357 %missing values
TypeofContact 0.51146 %missing values
DurationOfPitch 5.13502 %missing values
NumberOfFollowups 0.92062 %missing values
PreferredPropertyStar 0.53191 %missing values
NumberOfTrips 2.86416 %missing values
NumberOfChildrenVisiting 1.35025 %missing values
MonthlyIncome 4.76678 %missing values

In [15]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
Unmarried                     0
dtype: int64

In [16]:
df.Age.fillna(df.Age.median(),inplace=True)

In [17]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                           0
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
Unmarried                     0
dtype: int64

In [18]:
df['TypeofContact'].fillna(df['TypeofContact'].mode()[0],inplace=True)

In [19]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                           0
TypeofContact                 0
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
Unmarried                     0
dtype: int64

In [20]:
df['DurationOfPitch'].fillna(df['DurationOfPitch'].median(),inplace=True)
df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0],inplace=True)
df['PreferredPropertyStar'].fillna(df['PreferredPropertyStar'].median(), inplace=True)
df['NumberOfTrips'].fillna(df['NumberOfTrips'].median(),inplace=True)
df['NumberOfChildrenVisiting'].fillna(df['NumberOfChildrenVisiting'].median(),inplace=True)
df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(),inplace=True)

In [21]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
Unmarried                   0
dtype: int64

In [22]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,...,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,Unmarried
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,...,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0,Unmarried
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,...,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,Divorced
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,...,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0,Unmarried
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,...,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,Divorced
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,...,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,Divorced

In [23]:
df.MaritalStatus.value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [24]:
df['MaritalStatus']=df['MaritalStatus'].replace('Single','Unmarried')

In [25]:
df.MaritalStatus.value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4888 non-null   float64
 3   TypeofContact             4888 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4888 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4888 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4888 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4888 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4888 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4888 non-null   float64
 20  Unmarried                 4888 non-null   object
dtypes: float64(7), int64(7), object(7)
memory usage: 802.1+ KB

In [27]:
df.Age=df.Age.astype('int')

In [28]:
df.drop(columns=['Unmarried'],inplace=True)

In [29]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [30]:
df['TotalVisiting']=df['NumberOfPersonVisiting']+df['NumberOfChildrenVisiting']

In [31]:
df.drop(columns=['CustomerID'],inplace=True)

In [32]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,TotalVisiting
0,1,41,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,0,49,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,1,37,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,0,33,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,0,36,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [33]:
cat_feature=[feature for feature in df.columns if df[feature].dtype =='O']
print(len(cat_feature))

6

In [34]:
num_feature=[feature for feature in df.columns if df[feature].dtypes!='O']
print(len(num_feature))

14

In [35]:
des_feature=[feature for feature in num_feature if len(df[feature].unique())<=25]
print(len(des_feature))

11

In [36]:
con_feature=[feature for feature in num_feature if len(df[feature].unique())>25]
print(len(con_feature))

3

In [37]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,TotalVisiting
0,1,41,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,0,49,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,1,37,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,0,33,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,0,36,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X=df.drop(columns='ProdTaken',axis=1)

In [40]:
y=df['ProdTaken']

In [41]:
categorical_feature=df.select_dtypes(include='object').columns
numerical_feature=df.select_dtypes(exclude='object').columns

In [42]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,TotalVisiting
0,41,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,49,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,37,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,33,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,36,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [43]:
X.shape

(4888, 19)

In [44]:
y.shape

(4888,)

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=1
                                              )

In [46]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

In [47]:
X.TypeofContact.unique()
X.Occupation.unique()

array(['Salaried', 'Free Lancer', 'Small Business', 'Large Business'],
      dtype=object)

In [48]:
ohe=OneHotEncoder(drop='first')
ss=StandardScaler()

In [53]:
cat_features=X.select_dtypes(include='object').columns
num_features=X.select_dtypes(exclude='object').columns

In [54]:
preprocessor=ColumnTransformer([
    ('OneHotEncoder',ohe,cat_features),
    ('StandardScaler',ss,num_features)
])

In [55]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score,roc_curve

In [59]:
models={
    'Random':RandomForestClassifier(),
   "DT":DecisionTreeClassifier(),
    "LG":LogisticRegression(),
    "ADA":AdaBoostClassifier(),
"GBC":GradientBoostingClassifier(),
    "XGBC":XGBClassifier()    
}

In [73]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    y_pred_test=model.predict(X_test)
    y_pred_train=model.predict(X_train)
    print("model performance for train data set")
    acc_score_train=accuracy_score(y_train,y_pred_train)
    confusion_score_train=confusion_matrix(y_train,y_pred_train)
    classification_score_train=classification_report(y_train,y_pred_train)
    precision_score_train=precision_score(y_train,y_pred_train)
    recall_score_train=recall_score(y_train,y_pred_train)
    f1_score_score_train=recall_score(y_train,y_pred_train)
    roc_train=roc_auc_score(y_train,y_pred_train)
    print("model performance for test ")
    acc_score_test=accuracy_score(y_test,y_pred_test)
    pre_score_test=precision_score(y_test,y_pred_test)
    cla_score_test=accuracy_score(y_test,y_pred_test)
    classification_score_test=classification_report(y_test,y_pred_test)
    f1_score_test=f1_score(y_test,y_pred_test)
    confusion_matrix_test=confusion_matrix(y_test,y_pred_test)
    recall_score_test=recall_score(y_test,y_pred_test)
    roc_test=roc_auc_score(y_test,y_pred_test)
    print(list(models.keys())[i])
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(acc_score_train))
    print((confusion_score_train))
    
    print((classification_score_train))
    print('- precision: {:.4f}'.format(precision_score_train))
    print('- recall: {:.4f}'.format(recall_score_train))
    print('- Precision: {:.4f}'.format(f1_score_score_train))
    print('- precision: {:.4f}'.format(roc_train))
    print('----------------------------------')
    print('Model performance for Test set')
    print((acc_score_test))
    print('- confusion_matrix: {:.4f}',(confusion_matrix_test))
    print('- classification: {:.4f}',(classification_score_test))
    print('- precision: {:.4f}'.format(pre_score_test))
    print('- recall: {:.4f}'.format(recall_score_test))
    print('- f1: {:.4f}'.format(f1_score_test))
    print('- Roc Auc Score: {:.4f}'.format(roc_test))

    
    print('='*35)
    print('\n')

model performance for train data set
model performance for test
Random
Model performance for Training set
- Accuracy: 1.0000
[[3185    0]
 [   0  725]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3185
           1       1.00      1.00      1.00       725

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

- precision: 1.0000
- recall: 1.0000
- Precision: 1.0000
- precision: 1.0000
----------------------------------
Model performance for Test set
0.9151329243353783
- confusion_matrix: {:.4f} [[775   8]
 [ 75 120]]
- classification: {:.4f}               precision    recall  f1-score   support

           0       0.91      0.99      0.95       783
           1       0.94      0.62      0.74       195

    accuracy                           0.92       978
   macro avg       0.92      0.80      0.85       978
weighted avg       0.92      0.92      0.91       978

- precision: 0.9375
- recall: 0.6154
- f1: 0.7430
- Roc Auc Score: 0.8026
===================================


model performance for train data set
model performance for test
DT
Model performance for Training set
- Accuracy: 1.0000
[[3185    0]
 [   0  725]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3185
           1       1.00      1.00      1.00       725

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

- precision: 1.0000
- recall: 1.0000
- Precision: 1.0000
- precision: 1.0000
----------------------------------
Model performance for Test set
0.9171779141104295
- confusion_matrix: {:.4f} [[740  43]
 [ 38 157]]
- classification: {:.4f}               precision    recall  f1-score   support

           0       0.95      0.95      0.95       783
           1       0.79      0.81      0.79       195

    accuracy                           0.92       978
   macro avg       0.87      0.88      0.87       978
weighted avg       0.92      0.92      0.92       978

- precision: 0.7850
- recall: 0.8051
- f1: 0.7949
- Roc Auc Score: 0.8751
===================================


model performance for train data set
model performance for test
LG
Model performance for Training set
- Accuracy: 0.8473
[[3090   95]
 [ 502  223]]
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      3185
           1       0.70      0.31      0.43       725

    accuracy                           0.85      3910
   macro avg       0.78      0.64      0.67      3910
weighted avg       0.83      0.85      0.82      3910

- precision: 0.7013
- recall: 0.3076
- Precision: 0.3076
- precision: 0.6389
----------------------------------
Model performance for Test set
0.8384458077709611
- confusion_matrix: {:.4f} [[763  20]
 [138  57]]
- classification: {:.4f}               precision    recall  f1-score   support

           0       0.85      0.97      0.91       783
           1       0.74      0.29      0.42       195

    accuracy                           0.84       978
   macro avg       0.79      0.63      0.66       978
weighted avg       0.83      0.84      0.81       978

- precision: 0.7403
- recall: 0.2923
- f1: 0.4191
- Roc Auc Score: 0.6334
===================================


model performance for train data set
model performance for test
ADA
Model performance for Training set
- Accuracy: 0.8494
[[3141   44]
 [ 545  180]]
              precision    recall  f1-score   support

           0       0.85      0.99      0.91      3185
           1       0.80      0.25      0.38       725

    accuracy                           0.85      3910
   macro avg       0.83      0.62      0.65      3910
weighted avg       0.84      0.85      0.82      3910

- precision: 0.8036
- recall: 0.2483
- Precision: 0.2483
- precision: 0.6172
----------------------------------
Model performance for Test set
0.8333333333333334
- confusion_matrix: {:.4f} [[770  13]
 [150  45]]
- classification: {:.4f}               precision    recall  f1-score   support

           0       0.84      0.98      0.90       783
           1       0.78      0.23      0.36       195

    accuracy                           0.83       978
   macro avg       0.81      0.61      0.63       978
weighted avg       0.82      0.83      0.79       978

- precision: 0.7759
- recall: 0.2308
- f1: 0.3557
- Roc Auc Score: 0.6071
===================================


model performance for train data set
model performance for test
GBC
Model performance for Training set
- Accuracy: 0.8877
[[3127   58]
 [ 381  344]]
              precision    recall  f1-score   support

           0       0.89      0.98      0.93      3185
           1       0.86      0.47      0.61       725

    accuracy                           0.89      3910
   macro avg       0.87      0.73      0.77      3910
weighted avg       0.88      0.89      0.87      3910

- precision: 0.8557
- recall: 0.4745
- Precision: 0.4745
- precision: 0.7281
----------------------------------
Model performance for Test set
0.8732106339468303
- confusion_matrix: {:.4f} [[770  13]
 [111  84]]
- classification: {:.4f}               precision    recall  f1-score   support

           0       0.87      0.98      0.93       783
           1       0.87      0.43      0.58       195

    accuracy                           0.87       978
   macro avg       0.87      0.71      0.75       978
weighted avg       0.87      0.87      0.86       978

- precision: 0.8660
- recall: 0.4308
- f1: 0.5753
- Roc Auc Score: 0.7071
===================================


model performance for train data set
model performance for test
XGBC
Model performance for Training set
- Accuracy: 1.0000
[[3185    0]
 [   0  725]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3185
           1       1.00      1.00      1.00       725

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

- precision: 1.0000
- recall: 1.0000
- Precision: 1.0000
- precision: 1.0000
----------------------------------
Model performance for Test set
0.9376278118609407
- confusion_matrix: {:.4f} [[774   9]
 [ 52 143]]
- classification: {:.4f}               precision    recall  f1-score   support

           0       0.94      0.99      0.96       783
           1       0.94      0.73      0.82       195

    accuracy                           0.94       978
   macro avg       0.94      0.86      0.89       978
weighted avg       0.94      0.94      0.93       978

- precision: 0.9408
- recall: 0.7333
- f1: 0.8242
- Roc Auc Score: 0.8609
===================================

In [85]:
##hyper parameter tunning
rf_params={
    "n_estimators":[100,200,90,500,300,60],
    "max_depth":[2,8,20,25,20,30,50,100,3,4,8,None],
    "min_samples_split":[1,2,3,4,5,6,7,None],
    "criterion":['gini', 'entropy', 'log_loss'],
    "max_features":['sqrt', 'log2', None],
    "n_informative":[1,2,3,4,5,6],
    "shuffle":[True,False,None],
    "n_redundant":[1,2,3,4,6]
}
xg_params={
    "learning_rate":[0.1,0.01,0.02,0.2,0.3],
    "max_depth":[5,8,12,20,30],
    "n_estimators":[100,200,300],
    "colsample_bytree":[0.5,0.8,1,0.3,0.4]
}

In [86]:
from sklearn.model_selection import RandomizedSearchCV

In [87]:
randomcv_models = [
                   ("RF", RandomForestClassifier(), rf_params),

    ("XGBoost",XGBClassifier(),xg_params)
                   
                   ]
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

ValueError: Invalid parameter 'shuffle' for estimator RandomForestClassifier(). Valid parameters are: ['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'monotonic_cst', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'].